<!DOCTYPE html>
<title>My Blog - {% block title %}{{title}}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}">
<script src='https://kit.fontawesome.com/8989297e1e.js' crossorigin='anonymous'></script>
<html>
    <body>
        <header>
            <div id='header-content'>
                {% if status == 'sign' %}
                    <div class='message'>You signed in.</div>
                {% elif status == 'sign_out' %}
                    <div class='message'>You signed out.</div>
                {% elif status == 'add' %}
                    <div class='message'>Post '{{post_title}}' has been uploaded.</div>
                {% elif status == 'update' %}
                    <div class='message'>Post '{{post_title}}' has been updated.</div>
                {% elif status == 'delete' %}
                    <div class='message'>Post '{{post_title}}' has been deleted.</div>
                {% endif %}
                <div class='message'>{{message}}</div>
                {% if 'user_name' in session %}
                    <a id='top-link' href='/'>{{user.repr()}}'s BLOG</a>
                    <a class='entry-link' href="add_post">Up post</a>
                    <a class='entry-link' href='/sign_out'>Sign out</a>
                {% else %}
                    <a id='top-link' href='/'>MY BLOG</a>
                    <a class='entry-link' href='/sign_in'>Sign in</a>
                    <span class='separater'>/</span>
                    <a class='entry-link' href='/sign_up'>Sign up</a>
                {% endif %}
            </div>
        </header>

        {% block content %}{% endblock %}

        <script src='/static/js/main.js'></script>
    </body>
</html>