{% extends 'layout.html' %}
{% block content %}
    <div id='sign-wrapper'>
        <div class='page-title'>{{title}} -</div>
        <form action='/{{type}}' method='POST'>
            {% if error %}
                <span class='error'>{{error}}</span>
            {% endif %}
            <input type='text' name='user_name' placeholder='Nickname' autocomplete='off'>
            <input type='password' name='password' placeholder='Password'>
            <input class='submit' type='submit' value='Submit'>
        </form>
    </div>
{% endblock %}