{% extends 'layout.html' %}


{% block content %}
    <div id='posts-wrapper'>
        <div class='post'>
            <img class='pic' src="/static/images/sakura.jpg" height="330" width="500">
            <div class='text-box'>
                <span class='pic-title'>sakura</span>
                <span class='poster'>by Jhon</span>
            </div>
        </div>
        <div class='post'>
            <img class='pic' src="/static/images/sakura.jpg" height="330" width="500">
        </div>
        <div class='post'>
            <img class='pic' src="/static/images/sakura.jpg" height="330" width="500">
        </div>
    </div>

{% endblock %}